snippet $date
`date +%m.%d.%y` @ `date +%H:%M`
endsnippet

snippet ts
# `date +%m.%d.%y` @ `date +%H:%M`
endsnippet

snippet lq
{% ${1} %}
endsnippet

snippet hl
{% highlight ${1} %}
endsnippet

snippet ehl
{% endhighlight %}
endsnippet

snippet 80-
--------------------------------------------------------------------------------
endsnippet
